[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
huggingface-hub = "*"
llama-cpp-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
